.detail-container{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 70px 5% 0;
    padding: 10px 5px;
}
.detail-img{
    width: 40%;
    height: 70%;
    overflow: hidden;
}
.detail-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.2s linear;
}
.detail-img:hover img {
    transform: scale(1.2);
}
.detail-box{
    width: 40%;
    height: 100%;
}
.detail-title{
    margin: 5px 0;
    display: flex;
    justify-content: space-between  ;
}
.detail-title h2{
    color: blue;
    font-size: 35px;
    text-transform: capitalize;
}
.detail-box p{
    font-size: 17px;
}
.detail-box span{
    font-size: 20px;
}
.detail-box{
    width: 40%;
    height: 80%;
}
.btn-cart{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #009245;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.buycart{
    font-weight: 700;
    color: white;
    width: 100%;
    height: 100%;
}
.btn-cart:hover{
        transform: translateY(-5px);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cart-related-container{
    display: flex;
    flex-wrap: wrap;
}
.btn-read{
    color: blue;
}
.mount span{
    color: rgb(0, 0, 0);
    padding: 0 20px;
    font-weight: 600;
    font-size: 25px;
}
.mount button{
    width: 40px;
    height: 40px;
    /* border: 1px solid rgb(177, 161, 161); */
    border-radius: 50%;
    font-size: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
    
.mount button:hover{
    background:#009245;
    color: white;
}
.cart-related-container{
    justify-content: space-around;
}
.product-related-container h2 {
    text-align: center;
}